{
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    "latest",
    "stage-3"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    "react-hot-loader/babel"
  ]
}